body{
    width: 1440px;
    padding-top: 120px;
    padding-left: 600px;
    padding-bottom: 120px;
    padding-right: 500px;
    background-color: hsl(212, 45%, 89%);
    margin: 0px;
}

.content{
    
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
    padding: 10px;
    margin-right: 1170px;
    text-align: center;
}
img{
    display: block;
    width:250px;
    height: 250px;
    border-radius: 1em;
}
p{
    color:hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
h3{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}
